---
import {header} from "@/asset/main/Entry";
import Container from "@/components/Container.astro";
import MainContentLayout from "@/layouts/MainContentLayout.astro";
import {Image} from "astro:assets";
import type {DataOutput} from "@/api/types";
import BlogCard from "@/components/reausable/BlogCard.astro";
import BoldText from "@/components/reausable/BoldText.astro";
const url = "https://api.spaceflightnewsapi.net/v4/blogs/?format=json&limit=20&offset=10&summary_contains=moon";

const fetchApi = await fetch(url, {method: "GET"});
const {results}: DataOutput = await fetchApi.json();
---

<MainContentLayout noPaddingFull>
	<a href="#" class="relative group">
		<div class="absolute left-0 right-0 lg:right-[10rem] m-auto font-bold text-cus_yellow capitalize w-fit top-[10%] px-5">
			<p style="font-size:clamp(1.5rem, 0.6320rem + 3.9680vw, 4.6rem)">Live 12.1 is now in public beta</p>
			<p style="font-size:clamp(0.875rem, 0.5950rem + 1.2800vw, 1.875rem)">
				see what's new <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="inline-block fill-cus_yellow underline group-hover:translate-x-1 duration-300"
					><path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path></svg
				>
			</p>
		</div>
		<Image src={header} alt={"image hero"} class={"mx-auto w-full max-w-screen-2xl "} format="webp" quality={"mid"} />
	</a>

	<Container>
		<BoldText className="my-10"> our latest blog </BoldText>
		<div class="gap-6 grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
			{results.map((item) => <BlogCard imageUrl={item.image_url} imageAlt={item.title} title={item.title} summary={item.summary} postUrl={item.url} />)}
		</div>
	</Container>
</MainContentLayout>
