---
import MainContentLayout from "@/layouts/MainContentLayout.astro";
import {header} from "@/asset/jobs/Entry";
import {Image} from "astro:assets";
import BoldText from "@/components/reausable/BoldText.astro";
import TextWrapper from "@/components/reausable/TextWrapper.astro";
import Text from "@/components/reausable/Text.astro";
import jobs from "@/data/jobs.json";
---

<MainContentLayout>
	<div class="relative">
		<p class="absolute left-0 right-0 m-auto text-3xl font-bold text-blue-500 capitalize md:text-6xl lg:text-8xl w-fit top-1/3">jobs at ableton</p>
		<Image src={header} alt={"peopleWorking"} class={"rounded-md h-[50rem] sm:h-[60rem] object-cover md:object-cover w-full "} quality={80} width={0} height={0} />
	</div>

	<TextWrapper className="space-y-2">
		<BoldText> Working at Ableton means being a part of creating products that shape the future of music culture in a dynamic and diverse environment </BoldText>
		<Text>
			Here at Ableton, we come from a wide range of cultural and professional backgrounds. We work hard to foster an environment in which people can grow both personally and professionally. We believe
			that diverse groups of people make better teams. We’re committed to increasing diversity in our workplace and providing equal opportunity throughout our recruitment process. Because of this we ask
			that you do not include a picture in your application documents. Thank you very much for your understanding.
		</Text>
		<Text> If you want to apply for one of our open positions, we would be happy to receive your application through our application form. Please upload all necessary documents there. </Text>
	</TextWrapper>
	<div class="mx-auto max-w-4xl">
		<p class="text-lg font-semibold my-5">Commerce</p>
		<ul class="space-y-4 m">
			{
				jobs.map((item) => (
					<li>
						<a href={item.href}>
							<p class="text-cus_blue">{item.position}</p>
							<p class="text-slate-400">{item.location}</p>
						</a>
					</li>
				))
			}
		</ul>
	</div>
</MainContentLayout>
